/*  ==========================================================================
    #MEDIA
    ========================================================================== */

@use '../tools/index.tools' as t;

$media-spacing: t.spacing(base) !default;
$media-tiny-spacing: t.spacing(tiny) !default;
$media-small-spacing: t.spacing(small) !default;
$media-large-spacing: t.spacing(large) !default;
$media-huge-spacing: t.spacing(huge) !default;

/**
* Place any image- and text-like content side-by-side, as per:
* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*/

.o-media {
  display: flex;
}

.o-media__img {
  margin-right: $media-spacing;
}

/**
  * 1. Explicitly use percentage unit to provide IE support.
  *    https://github.com/philipwalton/flexbugs/blob/6e720da852c3d566a84f3d82eb500e6f53f0a326/README.md#flexbug-4
  */

.o-media__body {
  flex: 1 1 0%; /* [1] */

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

/* Vertical alignment modifiers.
  ========================================================================== */

.o-media--middle {
  align-items: center;
}

.o-media--bottom {
  align-items: flex-end;
}

/* Size variants
  ========================================================================== */

/**
* Modify the amount of space between our image and our text. We also have
* reversible options for all available sizes.
*/

/* stylelint-disable max-nesting-depth, no-descending-specificity */
.o-media--flush {
  > .o-media__img {
    margin-left: 0;
    margin-right: 0;
  }
}

.o-media--tiny {
  > .o-media__img {
    margin-right: $media-tiny-spacing;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-left: $media-tiny-spacing;
      margin-right: 0;
    }
  }
}

.o-media--small {
  > .o-media__img {
    margin-right: $media-small-spacing;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-left: $media-small-spacing;
      margin-right: 0;
    }
  }
}

.o-media--large {
  > .o-media__img {
    margin-right: $media-large-spacing;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-left: $media-large-spacing;
      margin-right: 0;
    }
  }
}

.o-media--huge {
  > .o-media__img {
    margin-right: $media-huge-spacing;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-left: $media-huge-spacing;
      margin-right: 0;
    }
  }
}
/* stylelint-enable max-nesting-depth, no-descending-specificity */

/* Reversed media objects
  ========================================================================== */

/* stylelint-disable no-descending-specificity */
.o-media--reverse {
  > .o-media__img {
    margin-left: $media-spacing;
    margin-right: 0;
    order: 1;
  }
}
/* stylelint-enable no-descending-specificity */
