/* ==========================================================================
   #TABLE
   ========================================================================== */

@use '../tools/index.tools' as t;

$table-tiny-cell-padding: t.spacing(tiny) !default;
$table-small-cell-padding: t.spacing(small) !default;
$table-cell-padding: t.spacing(base) !default;
$table-large-cell-padding: t.spacing(large) !default;
$table-huge-cell-padding: t.spacing(huge) !default;

/**
* A simple object for manipulating the structure of HTML `table`s.
*/

.o-table {
  width: 100%;

  th,
  td {
    padding: $table-cell-padding;
  }
}

/* Equal-width table cells
    ========================================================================== */

/**
* `table-layout: fixed` forces all cells within a table to occupy the same
* width as each other. This also has performance benefits: because the browser
* does not need to (re)calculate cell dimensions based on content it discovers,
* the table can be rendered very quickly. Further reading:
* https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
*/

.o-table--fixed {
  table-layout: fixed;
}

/* Size variants
    ========================================================================== */

.o-table--tiny {
  th,
  td {
    padding: $table-tiny-cell-padding;
  }
}

.o-table--small {
  th,
  td {
    padding: $table-small-cell-padding;
  }
}

.o-table--large {
  th,
  td {
    padding: $table-large-cell-padding;
  }
}

.o-table--huge {
  th,
  td {
    padding: $table-huge-cell-padding;
  }
}
