/* ==========================================================================
   #ALIGN ITEMS
   ========================================================================== */

@use 'sass:map';
@use '../tools/index.tools' as t;

$align-items: (
  properties: (
    '-items': align-items
  ),
  values: (
    '-start': flex-start,
    '-end': flex-end,
    '-center': center,
    '-baseline': baseline,
    '-stretch': stretch
  )
) !default;

@include t.generate-classes($align-items);
@include t.generate-responsive-classes($align-items);
