/* ==========================================================================
   #PAGE
   ========================================================================== */

@use '../settings/index.settings' as s;
@use '../tools/index.tools' as t;
@use 'sass:math';

/* stylelint-disable no-eol-whitespace */
::selection {
  --selection-background-color: var(--color-primary-100);
  --selection-text-color: var(--color-white);

  background: var(--selection-background-color);
  color: var(--selection-text-color);
}
/* stylelint-enable no-eol-whitespace */

html {
  font-size: math.div(s.$global-font-size, 16px) * 1em;
  line-height: math.div(s.$global-line-height, s.$global-font-size);
  min-height: 100%;
  overflow-y: scroll;
}

body {
  --body-background-color: var(--color-bg-body);
  --body-text-color: var(--color-primary-060);

  @include t.font-size(s.$font-size-body-base);

  background-color: var(--body-background-color);
  color: var(--body-text-color);
  font-family: s.$global-fonts;
  font-style: normal;
  font-weight: 200;

  /* stylelint-disable scss/operator-no-unspaced */
  @if s.config(responsive-type) == true {
    @include t.mq($from: l-tablet) {
      @include t.font-size(s.$font-size-body-large, $modifier: +1);
    }

    @include t.mq($from: l-wide) {
      @include t.font-size(s.$font-size-body-huge);
    }
  }
  /* stylelint-enable scss/operator-no-unspaced */
}
