/* ==========================================================================
   #COLORS
   ========================================================================== */

:root {
  --color-white: hsl(0deg 0% 100%); // #fff
  --color-black: hsl(0deg 0% 0%); // #000;
  --color-white-offset: #ededed;
  --color-black-offset: #1a1a1a;
  --color-neutral-010: #ededed;
  --color-neutral-020: #d4d4d4;
  --color-neutral-030: #bbb;
  --color-neutral-040: #9b9b9b;
  --color-neutral-050: #797979;
  --color-neutral-060: #5c5c5c;
  --color-neutral-070: #474747;
  --color-neutral-080: #353535;
  --color-neutral-090: #262626;
  --color-neutral-100: #1a1a1a;
  --color-success-010: #e1faeb; // 10
  --color-success-020: #8ef5b7; // 20
  --color-success-030: #056b2e; // 80
  --color-error-010: #faf0f0;
  --color-error-020: #fad4d4;
  --color-error-030: #8f0e0e;
  --color-info-010: #f0f5fc;
  --color-info-020: #cfe0fc;
  --color-info-030: #114599;
  --color-warning-010: #fcf2e6;
  --color-warning-020: #fad8af;
  --color-warning-030: #693d07;
  --color-primary-010: hsl(20deg 13% 86%); // #e0dad7
  --color-primary-020: #c6c0b7;
  --color-primary-030: #aca997;
  --color-primary-040: #919377;
  --color-primary-050: #6f7858;
  --color-primary-060: #4b5e39;
  --color-primary-070: #3b5331;
  --color-primary-080: #2c482a;
  --color-primary-090: #223c26;
  --color-primary-100: #1b3023;
  --color-bg-body: #fff9f5;
  --color-interaction: #229ad6;
}
