/* ==========================================================================
   #COLORS
   ========================================================================== */

$color-white: #fff !default;
$color-black: #000 !default;
$color-white-offset: #ededed !default;
$color-black-offset: #1a1a1a !default;
$color-neutral-010: #ededed !default;
$color-neutral-020: #d4d4d4 !default;
$color-neutral-030: #bbb !default;
$color-neutral-040: #9b9b9b !default;
$color-neutral-050: #797979 !default;
$color-neutral-060: #5c5c5c !default;
$color-neutral-070: #474747 !default;
$color-neutral-080: #353535 !default;
$color-neutral-090: #262626 !default;
$color-neutral-100: #1a1a1a !default;
$color-success-010: #e1faeb !default; // 10
$color-success-020: #8ef5b7 !default; // 20
$color-success-030: #056b2e !default; // 80
$color-error-010: #faf0f0 !default;
$color-error-020: #fad4d4 !default;
$color-error-030: #8f0e0e !default;
$color-info-010: #f0f5fc !default;
$color-info-020: #cfe0fc !default;
$color-info-030: #114599 !default;
$color-warning-010: #fcf2e6 !default;
$color-warning-020: #fad8af !default;
$color-warning-030: #693d07 !default;
$color-primary-010: #e0dad7 !default;
$color-primary-020: #c6c0b7 !default;
$color-primary-030: #aca997 !default;
$color-primary-040: #919377 !default;
$color-primary-050: #6f7858 !default;
$color-primary-060: #4b5e39 !default;
$color-primary-070: #3b5331 !default;
$color-primary-080: #2c482a !default;
$color-primary-090: #223c26 !default;
$color-primary-100: #1b3023 !default;
$color-bg-body: #fff9f5 !default;
$color-interaction: #229ad6 !default;

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-white-offset: #{$color-white-offset};
  --color-black-offset: #{$color-black-offset};
  --color-neutral-010: #{$color-neutral-010};
  --color-neutral-020: #{$color-neutral-020};
  --color-neutral-030: #{$color-neutral-030};
  --color-neutral-040: #{$color-neutral-040};
  --color-neutral-050: #{$color-neutral-050};
  --color-neutral-060: #{$color-neutral-060};
  --color-neutral-070: #{$color-neutral-070};
  --color-neutral-080: #{$color-neutral-080};
  --color-neutral-090: #{$color-neutral-090};
  --color-neutral-100: #{$color-neutral-100};
  --color-success-010: #{$color-success-010};
  --color-success-020: #{$color-success-020};
  --color-success-030: #{$color-success-030};
  --color-error-010: #{$color-error-010};
  --color-error-020: #{$color-error-020};
  --color-error-030: #{$color-error-030};
  --color-info-010: #{$color-info-010};
  --color-info-020: #{$color-info-020};
  --color-info-030: #{$color-info-030};
  --color-warning-010: #{$color-warning-010};
  --color-warning-020: #{$color-warning-020};
  --color-warning-030: #{$color-warning-030};
  --color-primary-010: #{$color-primary-010};
  --color-primary-020: #{$color-primary-020};
  --color-primary-030: #{$color-primary-030};
  --color-primary-040: #{$color-primary-040};
  --color-primary-050: #{$color-primary-050};
  --color-primary-060: #{$color-primary-060};
  --color-primary-070: #{$color-primary-070};
  --color-primary-080: #{$color-primary-080};
  --color-primary-090: #{$color-primary-090};
  --color-primary-100: #{$color-primary-100};
  --color-bg-body: #{$color-bg-body};
  --color-interaction: #{$color-interaction};
}
