/* ==========================================================================
   #CONFIG
   ========================================================================== */

$config: (
  env: dev,
  responsive-type: false
) !default;

@function config($key) {
  @return map-get($config, $key);
}

@if config(env) == prod {
  body::before {
    display: none;
  }
}
