/* ==========================================================================
   #BUTTONS
   ========================================================================== */

@use '../settings/index.settings' as s;
@use '../tools/index.tools' as t;

$button-transition-timing-function: s.$global-transition-timing-function !default;
$button-transition-duration: s.$global-transition-duration !default;
$button-radius: s.$global-radius !default;
$button-outline-offset: s.$global-outline-offset !default;
$button-outline-style: s.$global-outline-style !default;
$button-outline-width: s.$global-outline-width !default;
$button-outline-color: s.$global-outline-color !default;
$button-ghost-border-width: s.$global-border-width !default;
$button-padding-vertical: t.spacing(small) !default;
$button-padding-horizontal: t.spacing(base) !default;
$button-small-padding-vertical: t.spacing(tiny) !default;
$button-small-padding-horizontal: t.spacing(small) !default;
$button-large-padding-vertical: t.spacing(base) !default;
$button-large-padding-horizontal: t.spacing(large) !default;

.c-btn--primary {
  --background: var(--color-primary-060);
  --background-on-hover: var(--color-primary-100);
  --text-color: var(--color-white);
}

.c-btn--ghost {
  --text-color: var(--color-primary-060);
  --text-color-on-hover: var(--color-primary-100);
}

.c-btn {
  border-radius: $button-radius;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: $button-padding-vertical $button-padding-horizontal;
  text-align: center;
  transition: background-color $button-transition-duration $button-transition-timing-function;
  vertical-align: middle;
}

/* stylelint-disable no-duplicate-selectors, max-nesting-depth */
.c-btn--primary {
  background-color: var(--background);

  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--text-color);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: var(--background-on-hover);
  }

  &:focus {
    outline: s.$global-outline-width s.$global-outline-style $button-outline-color;
    outline-offset: s.$global-outline-offset;
  }
}

.c-btn--small {
  padding: $button-small-padding-vertical $button-small-padding-horizontal;
}

.c-btn--large {
  padding: $button-large-padding-vertical $button-large-padding-horizontal;
}

.c-btn--ghost {
  border: $button-ghost-border-width solid currentcolor;
  padding: ($button-padding-vertical - $button-ghost-border-width)
    ($button-padding-horizontal - $button-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: ($button-small-padding-vertical - $button-ghost-border-width)
      ($button-small-padding-horizontal - $button-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($button-large-padding-vertical - $button-ghost-border-width)
      ($button-large-padding-horizontal - $button-ghost-border-width);
  }

  &.c-btn--primary {
    color: var(--text-color);

    &:hover,
    &:focus {
      color: var(--text-color-on-hover);
    }
  }
}
/* stylelint-enable no-duplicate-selectors, max-nesting-depth */
